{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-end">
    <button type="button" onclick="window.location.href = '/main?page={{last_page}}';"
            class="btn btn-primary">
        На главную
    </button>
</div>
<h1>Авторизация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control", type="login") }}<br>
        {% for error in form.login.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p>Нет аккаунта? <a href="/register">зарегистрируйтесь</a></p>
    <div><h5>{{ message }}</h5></div>
</form>
{% endblock %}